version: '3.8'

services:
  bff-web:
    build: .  # To bo uporabilo Dockerfile v trenutnem direktoriju
    ports:
      - "3000:3000" # Predpostavlja, da BFF-Web teÄe na portu 3000
    networks:
      - backend-network

networks:
  backend-network:
    external: true
